<div class="container d-flex flex-wrap justify-content-between">
  <div class="buttons mt-2">
    <button class="btn btn-primary mr-3" (click)="onStart()">Start</button>
    <button class="btn btn-danger mr-3" (click)="onStop()">Stop</button>
    <button class="btn btn-secondary" (click)="onReset()">Reset</button>
  </div>
  <div class="radioButtons">
    <p>
        <input type="text"  value="{{ 1 }}" #inputElement/>
    </p>
    <span class="mr-3">
      <label>
        <input type="radio" name="mode" value="red" [(ngModel)]="mode"> Red
      </label>
    </span>

    <span class="mr-3">
      <label>
        <input type="radio" name="mode" value="black" [(ngModel)]="mode"> Black
      </label>
    </span>

    <span class="mr-3">
      <label>
        <input type="radio" name="mode" value="zero" [(ngModel)]="mode"> Zero
      </label>
    </span>
    <span>
      <strong>Balance: {{ total }}</strong>
    </span>
  </div>
</div>
<hr>
<div class="container d-flex  flex-wrap">
  <div class="numbers"
       *ngFor="let number of numbers"
       [appColor]="number"
  >{{ number }}</div>
</div>
