.numbers {
  width: 70px;
  height: 70px;
  margin: 15px;
  font-size: 50px;
  text-align: center;
  border: 1px solid;
  color: white;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.zero {
  background-color: green;
}

.unknown {
  background-color: yellow;
}
